<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detail Pesanan #{{ order.id }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label>
        <h2>Nama Pelanggan</h2>
        <p>{{ order.customerName }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Email Pelanggan</h2>
        <p>{{ order.customerEmail }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Tanggal Pesanan</h2>
        <p>{{ order.orderDate | date: 'medium' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Status</h2>
        <p>{{ order.status }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Produk</h2>
      </ion-label>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let product of order.products">
        <ion-thumbnail slot="start">
          <img [src]="product.imageUrl">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>Harga: Rp {{ product.price | number }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>
        <h2>Total</h2>
        <p>Rp {{ order.totalAmount | number }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
